@import "../../../lib/style/font-awesome/less/font-awesome.less";
@import "../../../style/gn_bootstrap.less";
@import (less) "../../../lib/ol.css";
@import (less) "../../../lib/angular.ext/colorpicker/angularjs-color-picker.min.css";

@fa-version: '4.3.0';
@fa-font-path: '../catalog/lib/style/font-awesome/fonts';

@header-height: 80px;
@sidebar-width: 320px;

@import "themes.less";
@import "layout.less";


.close-panel {
  font-size: 16px;
  position: absolute;
  right: 10px;
  top: 10px;
  background: none;
  border: 0;
  color: #fff;
  line-height: 1;
}

