@import "../../../lib/style/font-awesome/less/font-awesome.less";
@import "../../../style/gn_bootstrap.less";
@import (less) "../../../lib/ol.css";
@import (less) "../../../lib/angular.ext/colorpicker/angularjs-color-picker.min.css";

@fa-version: '4.3.0';
@fa-font-path: '../catalog/lib/style/font-awesome/fonts';

@header-height: 60px;
@sidebar-width: 320px;
@sidebar-left-offset: 40px;
@sidebar-top-offset: 30px;

@import "featurestables.less";
@import "themes.less";
@import "layout.less";
@import "olcontrols.less";
@import "catalog.less";
@import "geocatalog.less";
@import "layermanager.less";
@import "temporalfiles.less";
//@import "gfi.less";
@import "import.less";
@import "mouseposition.less";
@import "mdview.less";

@font-face {
  font-family: 'mapicon';
  src: url('../catalog/views/niger/less/font/icons.woff') format('woff');
}

.icon {
  font-family: mapicon;
  font-style: normal;

  &.layers:after {
    content: '\e00e';
  }
  &.measure:after {
    content: '\e021';
  }
  &.map:after {
    content: '\e02c';
  }
  &:after {
    text-align: center;
    width: 100%;
    font-size: 13px;
  }
}
[role=tooltip] {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  left: 82px;
  top: 100px;
  z-index: 1060;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(125, 125, 125, 0.7);
}

input[type=range]{
  -webkit-appearance: none;
  background-color: transparent;
}

input[type=range]::-webkit-slider-runnable-track {
  height: 5px;
  background: #ddd;
  border: none;
  border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 15px;
  width: 15px;
  background: @main_color_200;
  border-radius: 6px;

  margin-top: -5px;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ccc;
}

[gn-localisation-input] {
  position: absolute;
  width: 25em;
  right: 80px;
  top: @sidebar-top-offset;
  z-index: 1050;

  input {
    height: 3em;
    border-radius: 0;
    border: none;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
  }

  .clear {
    position: absolute;
    top:  1.2em;
    right: .75em;
    color: @main_color_400;
    cursor: pointer;
  }

  .dropdown-menu {
    border-radius: 0;
    width: 100%;
    top: calc(100% - 3px);
    max-height: 80%;
    background: rgba(255, 255, 255, 0.9);
    padding: 0 0 0em;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
    border: none;
    margin:0;
    h5 {
      padding: 0.8em;
      margin: 0;
      font-size: 12px;
      color: white;
      background-color: @main_color_500;
    }
    h6 {
      margin: 0;
      background-color: @main_color_50;
      padding: 0.7em;
    }
    ul {
      margin: 0;
      background: #fff;
      max-height: 150px;
      overflow-y: scroll;
    }
    li {
      padding: 0;
      border-radius: 0;
      border-left: 0;
      border-right: 0;
      font-size: 12px;
      a {
        padding: .5em 1em;
        display: block;
      }
      em {
        font-size: 11px;
      }
      &.active {
        font-weight: bold;
        a {
          color: #428bca !important;
        }
      }
    }
  }
}
