html,
body,
body > div,
#main-container {
  position: relative;
  height: 100%;
  font-size: @main-font-size;

  color: @main_color_800;
  a {
    color: @main_color_800;
  }
}

header {
  &.navbar {
    border-width: 0;
    margin-bottom: 0;
    min-height: @header-height;
    background-color: @main_color_800;
    color: white;

    @media (max-width: @screen-xs-max) {
      min-height: 40px;
    }
    .navbar-brand {
      height: @header-height;
    }
  }
  .navbar-header {
    margin-left: calc(@sidebar-left-offset + @sidebar-left-offset + @sidebar-width) !important;
    span {
      display: block;
      font-size: 12px;
    }
    .portaltitle {
      margin-top: 10px;
      overflow-x: overlay;
      > span:first-child {
        text-transform: uppercase;
        font-size: 1em;
      }
    }
    .title {
      text-transform: uppercase;
      font-size: 14px;
    }
  }

  .navbar-nav {
    padding-left: 50px;
  }

  .container-fluid {
    padding-left: 0;
    padding-right: 0;
  }
  img {
    height: 45px;
    width: 45px;
    margin-top: -10px;
    margin-left: 15px;
  }
}

#sidebar {
  display: block;
  width: @sidebar-width;
  max-width: 100%;
  z-index: 1050;
  position: absolute;
  left: @sidebar-left-offset;
  top: @sidebar-top-offset;
  background-color: @main_color_50;

  #sidebar-content {
    > div {
      display: none;
    }
  }
  &.open {
    #sidebar-content > div {
      display: block;
    }
  }

  h2 {
    font-size: 18px;
    line-height: 1;
    padding: 20px 0 25px 12px;
    margin: 0;
    text-transform: uppercase;
    color: #fff;
    color: @main_color_700;
  }

  .tab-content {
    padding: 15px;
    overflow-y: auto;
    max-height: calc(~"100vh - 315px");
    height:auto !important;
    background-color: white;
    .form-control {
      background-color: @main_color_200;
      font-size: 12px;
    }
    select{
      -webkit-appearance:none;
      -moz-appearance:none;
      appearance:none;
    }
    &.no-nav {
    }
  }
  .nav-tabs {
    border: none;
    margin-left: 25px;
    li {
      padding-left: 5px;
      margin-bottom: 0;
      > a {
        text-transform: uppercase;
        font-size: 13px;
        line-height: 1;
        border: none;
        border-radius: 0;
        background-color: @main_color_500;
        color: white;
      }
       &.active > a {
         background-color: @main_color_600;
         color: white;
       }
      > a:hover {
        color: @main_color_50;
      }
    }
  }
  app-backgroundlayer > div {
    color: @main_color_800;
    margin-bottom: 30px;
    margin-left: 10px;
    .dropdown {
      display: inline-block;
    }
    .btn {
      color: @main_color_800;
      border: none;
      background-color: transparent;
    }
  }
}

.close-panel {
  font-size: 16px;
  position: absolute;
  right: 10px;
  top: 60px;
  background: none;
  border: 0;
  color: @main_color_700;
  line-height: 1;
}

#map-container {
  position: relative;
  padding-top: @header-height;
  height: 100%;
  [ngeo-map] {
    width: auto;
    height: 100%;
    overflow: hidden;
    background-color: #f9f9f9;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAAAAABzHgM7AAAAAnRSTlMAAHaTzTgAAAARSURBVHgBY3iKBFEAOp/+MgB+UQnYeBZPWAAAAABJRU5ErkJggg==');
    position: relative;
  }
}

.un-main-tools {
  padding: 6px 22px;
  &.active {
    left: @sidebar-width;
  }
  .un-tool-btn {
    color:white;
    background-color: @main_color_400;
    border-radius: 2px;
    width: 36px;
    height: 32px;
    transition: all 300ms ease-out 0s;
    &.active {
      background-color: @main_color_800;
    }
    &:hover {
      background-color: @main_color_600;
    }
  }
}

.btn {
  border-radius: 0;
  background-color: @main_color_400;
  color: white;
  font-size: @main-font-size;
  &:focus {
    outline: 0 !important;
  }
  &:hover {
    background-color: @main_color_50;
  }
}

ul.dropdown-menu {
  border-radius: 0;
  background-color: @main_color_50;
  font-size: @main-font-size;
  padding: 3px 0;
}