<div ng-if="!ctrl.selectedLayers.length" translate>nolayerselected</div>
<ul id="layermanager-{{::ctrl.uid}}" class="layermanager" ngeo-sortable="ctrl.selectedLayers" ngeo-sortable-options="{handleClassName: 'sortable-handle', draggerClassName: 'sortable-dragger'}" >
  <li ng-repeat="layer in ctrl.selectedLayers" class="panel layermanager-panel">
    <span class="sortable-handle fa fa-reorder pull-left"></span>
    <a href="" class="layername" data-ng-click="layer.visible = ! layer.visible" title="{{::(layer.get('label') || layer.get('title'))}}">
      <i class="fa" ng-class="(layer.visible) ? 'fa-check-square' : 'fa-square'"></i>
      {{(layer.get('label') || layer.get('title')) | translate}}
    </a>
    <a class="collapsed" data-toggle="collapse" data-parent="#layermanager-{{::ctrl.uid}}" href="#layermanager-item-{{$index}}">
      <span class="collapsed fa fa-ellipsis-h"></span>
      <span class="expanded fa fa-minus"></span>
    </a>
    <a class="delete" ng-click="ctrl.removeLayer(layer);"><span class="fa fa-trash-o"></span></a>
    <a href="" class="info pull-right">
      <un-layerinfo-btn layer="::layer"></un-layerinfo-btn>
    </a>
    <div id="layermanager-item-{{$index}}" class="collapse">
      <a href ng-if="::layer.get('cextent')" ng-click="ctrl.zoomToExtent(layer)"><span class="fa fa-arrows-alt" ></span></a>
      <input class="opacity" type="range" min="0" max="1" step="0.25" ng-model="layer.opacity" />
    </div>
  </li>
</ul>