<div id="main-container" ng-controller="MainController as mainCtrl">

  <app-temporal-interaction map="::mainCtrl.map" active="mainCtrl.temporalActive"></app-temporal-interaction>

  <!--Header-->
  <header class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="http://localhost:8080/geonetwork" target="_blank">
          <img class="respimg" width="180" alt="ResEau" src="http://pigeo.fr:8080/gm-risk-gn2_10/apps/images/logos/Coat_of_Arms_of_The_Gambia.svg.png" style="">
        </a>
        <div class="portaltitle">
          <span class="title">{{::mainCtrl.siteTitle}}</span>
          <span>{{::mainCtrl.siteSubTitle}}</span>
        </div>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <un-search un-search-map="mainCtrl.map"></un-search>
      </ul>
    </div>
  </header>

  <div id="sidebar" ng-class="{open: mainCtrl.sidebarOpen()}">

    <div id="sidebar-header" class="un-main-tools" ngeo-btn-group ng-class="{active: mainCtrl.sidebarOpen()}">
      <button class="un-tool-btn btn" ngeo-btn ng-model="mainCtrl.layersOpen"><span class="icon layers"></span><span role="tooltip">Mes couches</span></button>
      <button class="un-tool-btn btn" ngeo-btn ng-model="mainCtrl.importOpen"><span class="fa fa-plus"></span><span role="tooltip">Import de couches externes</span></button>
      <button class="un-tool-btn btn" ngeo-btn ng-model="mainCtrl.contextOpen"><i class="icon map"></i><span role="tooltip">Mes cartes</span></button>
      <button class="un-tool-btn btn" ngeo-btn ng-model="mainCtrl.printOpen"><i class="fa fa-print"></i><span role="tooltip">Impression</span></button>
      <button class="un-tool-btn btn" ngeo-btn ng-model="mainCtrl.mInteraction.active"><i class="icon measure"></i><span role="tooltip">Mesure</span></button>
      <button class="un-tool-btn btn" ngeo-btn ng-model="mainCtrl.temporalActive"><i class="fa fa-clock-o"></i><span role="tooltip">Légendes</span></button>
      <button class="un-tool-btn btn" ngeo-btn ng-model="mainCtrl.geocatalogOpen"><i class="fa fa-book"></i><span role="tooltip">geocatalog</span></button>
    </div>
    <div id="sidebar-content">

      <!--Layers sidebar-->
      <div id="layers" data-ng-show="mainCtrl.layersOpen">
        <h2 translate>layers</h2>
        <button class="close-panel" ng-click="mainCtrl.closeSidebar()">
          ✕
        </button>

        <!--Background layer combo-->
        <app-backgroundlayer app-backgroundlayer-map="::mainCtrl.map"></app-backgroundlayer>

        <!--Tab panel header-->
        <ul class="nav nav-tabs">
          <li role="presentation" class="active">
            <a href="#layertree" data-toggle="tab" translate>select</a>
          </li>
          <li role="presentation">
            <a href="#layermanager" data-toggle="tab">
              <span translate>organize</span>
              <span ng-if="mainCtrl.selectedLayers.length > 0">({{mainCtrl.selectedLayers.length}})</span>
            </a>
          </li>
        </ul>

        <!--Tab panel content-->
        <div class="tab-content">

          <!--Catalog tree-->
          <div id="layertree" class="tab-pane active">
            <app-catalog app-catalog-map="::mainCtrl.map"></app-catalog>
          </div>

          <!--Mymap, list of inmap layer-->
          <div id="layermanager" class="tab-pane">
            <app-layermanager app-layermanager-map="::mainCtrl.map"
                              app-layermanager-layers="::mainCtrl.selectedLayers">
            </app-layermanager>
            <div class="text-center">
              <button class="btn btn-default" ng-click="mainCtrl.showTab('a[href=#layertree]');" translate>+ Ajouter</button>
            </div>
          </div>
        </div>
      </div>

      <!--Import sidebar-->
      <div id="import" data-ng-show="mainCtrl.importOpen">
        <h2 translate>Import externe</h2>
        <button class="close-panel" ng-click="mainCtrl.closeSidebar()">
          ✕
        </button>

        <!--Tab panel header-->
        <ul class="nav nav-tabs">
          <li role="presentation"  class="active">
            <a href="#importwms" data-toggle="tab">WMS</a>
          </li>
          <li role="presentation">
            <a href="#importwmts" data-toggle="tab">WMTS</a>
          </li>
          <li role="presentation">
            <a href="#importkml" data-toggle="tab">KML</a>
          </li>
        </ul>

        <!--Tab panel content-->
        <div class="tab-content">

          <!--Import WMS-->
          <div id="importwms" class="tab-pane active">
            <div gn-wms-import="wms"
                 gn-wms-import-map="::mainCtrl.map"
                 services-list-from-catalog="true"></div>
          </div>

          <!--Import WMTS-->
          <div id="importwmts" class="tab-pane">
            <div gn-wms-import="wmts" gn-wms-import-map="::mainCtrl.map"></div>
          </div>

          <!--Import KML-->
          <div id="importkml" class="tab-pane">
            <div gn-kml-import="" gn-kml-import-map="::mainCtrl.map"></div>
          </div>

        </div>
      </div>

      <!--Map management (save/load contexts)-->
      <div id="contextpanel" data-ng-show="mainCtrl.contextOpen">
        <h2 translate>maps</h2>
        <button class="close-panel" ng-click="mainCtrl.closeSidebar()">
          ✕
        </button>
        <div class="tab-content no-nav">
          <div gn-ows-context="" map="::mainCtrl.map"></div>
        </div>
      </div>

      <!--Print form panel-->
      <div id="printpanel" data-ng-show="mainCtrl.printOpen">
        <h2 translate>print</h2>
        <button class="close-panel" ng-click="mainCtrl.closeSidebar()">
          ✕
        </button>
        <div class="tab-content no-nav">
          <div gn-mapprint="" print-active="mainCtrl.printOpen" map="::mainCtrl.map"></div>
        </div>
      </div>

      <!--geo catalog form & results-->
      <div id="geocatalog" data-ng-show="mainCtrl.geocatalogOpen">
        <h2 translate>geocatalog</h2>
        <button class="close-panel" ng-click="mainCtrl.closeSidebar()">
          ✕
        </button>
        <div class="tab-content no-nav">
          <app-geo-catalog app-geo-catalog-map="::mainCtrl.map"></app-geo-catalog>
        </div>
      </div>

    </div>
  </div>


  <!--Container-->
  <div id="map-container" >
    <div ngeo-map="mainCtrl.map">
    </div>
  </div>
  <div gn-gfi=""  map="mainCtrl.map" ></div>
  <gn-features-tables gn-features-tables-map="mainCtrl.map"></gn-features-tables>

  <div gn-localisation-input map="mainCtrl.map"></div>
  <app-admin-units app-admin-units-map="mainCtrl.map"></app-admin-units>

  <footer>
    <app-scaleselector class="pull-right" map="mainCtrl.map">
    </app-scaleselector>
    <app-mouseposition class="" map="mainCtrl.map">
    </app-mouseposition>
    <!--
        <div id="scale-position" ngeo-control="mainCtrl.scaleControl" ngeo-control-map="mainCtrl.map"></div>
    -->
  </footer>

</div>