@import "../../../style/gn";
@import "mdview";


.formatter-container {
  color: rgb(55, 71, 79);
  a {
    color: rgb(55, 71, 79);
    &:hover {
      cursor: pointer;
    }
  }

  .metadata {
    > .panel-heading {
      display: none;
    }
    &.panel {
      border: none;
    }
  }
}
